html,
body,
#root,
.App {
  height: 100%;
}

.App {
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 40px;
  border-radius: 50px;
}

.fight p {
  margin-bottom: 40px;
}

.fight .zombie {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.zombie {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
  width: 200px;
}

.human {
  display: flex;
  flex-direction: column;
}

.sign {
  margin-bottom: 100px;
}

.zombieParade {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.fight-button {
  width: 200px;
}
